<div>
        

    <nav class="navbar navbar-expand-lg navbar-light  ">
        <div class="container-fluid">

            <!--navbar left-->
            <a class="navbar-brand" href="#">
                <img  class="logo" src='../images/my-logo.png' alt="My Logo" >
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-light"></span>
          </button>

          <!--navbar center-->
          <div class="d-inline-flex flex-row justify-content-center  collapse navbar-collapse text-center" id="navbarNavDropdown">
            <ul class="navbar-nav nav-text-style">
              <li class="nav-item mr-5">
                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">About Me</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  My Skills
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white" href="#">Contact Me</a>
              </li>
            </ul>
          </div>

          <!--navbar right-->
          <div class="float-right button-container ">
            <div class="row text-center">
                <div class="col-10 offset-1">
                    <button class="navbar-chat-button btn-block">Let's Chat</button>
                </div>
            </div>        
        
          </div>
        </div>
      </nav>




</div>