
nav{
    background-color: black;
}
/*navbar logo */
.logo{
    width: 85px;
    height: 85px;
    margin-left: 40px;
}


/*responsive navbar text padding*/
@media (min-width: 992px){
    .navbar li {
        margin-left : 1.8em;
        margin-right : 1.8em;
    }
}

.nav-text-style{
    font-weight: 500;
}

.button-container{
  padding-right: 20px;
}

/* lets chat navbar button  */
.navbar-chat-button{
    border-radius: 20px;
    background-color: white;
    color: blueviolet;
    margin-right: 50px;
    border: none;
    padding: 12px;
    width: 100%;
    font-weight: bold;
}

.button-container{
    margin-right: 30px;
}

body{
    margin: auto;
}
.header-home{
    margin: 0px;
    padding: 60px;
    background-color: white;
    height: 100%;
    margin-bottom: 20px;
  
}
.name{
    color: rgb(181, 120, 238);
    font-weight: bold;
}
.welcome-text{
    font-size: 18px;
    padding-top:10px;
    line-height: 1.5em;
}
.hire-me-btn{
    
    border:2px solid blueviolet;
}
.header-image{
    width: 500px;
    height: 500px;
}
.skills{
    background-color: #F8F9FF;
    padding: 50px;
    margin: 0px;
    height: 80%;
}

.footer{
    margin: 0px;
    background-color: black;
    padding: 50px;
    color: white;
    margin: 0px;
}
